body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    margin: 0;
    padding: 0;
  }
  
  .register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .register-form {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    color: #ff004f;
    padding: 20px;
    text-align: center;
    /* font-size: 2.2em;
    font-weight: bold; */
    border-bottom: 3px solid #ff004f;
    box-shadow: 0 0 15px #ff004f;
  }
  
  .register-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .register-form input {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1rem;
  }
  
  .register-form input:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
  }
  
  .register-form button {
    width: 100%;
    padding: 12px;
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #5a67d8;
  }
  
 .login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
  
.login-link span {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}
  
  .login-link:hover span {
    color: #5a67d8;
  }

 



  